{% extends "base.html" %}

{% block title %}{{ page_name }} | Farmacia MedCare{% endblock %}

{% block content %}
    <div class="page-container" style="min-height: 50vh; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h1 class="section-title" style="font-size: 40px; margin-bottom: 20px;">
            Página de "{{ page_name }}" (En desarrollo)
        </h1>
        <p class="description-label">La plantilla específica para esta sección aún no ha sido creada.</p>
        <a href="/" style="color: var(--color-rojo-coral); font-weight: bold; margin-top: 20px;">Volver a la Página de Inicio</a>
    </div>
{% endblock %}